@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/sinkin-sans-400-regular');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;500&display=swap');

@font-face {
  font-family: 'SpratCondensedMedium';
  src: url('/assets/fonts/sprat/Sprat-CondensedMedium.otf') format('opentype')
}
:root {  
  --font-size: 20px;
  --main-color: #1f1f1f;
  --barLow-FFM:'Barlow', sans-serif;
  --bg-color:#fffae9;
  --border: 2px solid var(--main-color);
  --tran-white:#ffffffd6;
}
.test {  
  font-size: var(--font-size)
}

* {
    box-sizing: border-box;
    transition: ease 0.4s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
    margin: 0;
    font-family: var(--barLow-FFM);
    background-color: var(--bg-color);
    color: var(--main-color);
}
.brand {
  text-decoration: none;
}
a,.redirect-link{
  color: var(--main-color);
}

.redirect-link::after{
  content: '\2197\00FE0E';
}

input{
  padding: 5px;
  font-family: var(--barLow-FFM);
  border: var(--border);
  background: #ffffff4a;
  color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px rgb(0 0 0);
}

button {
    font-family: var(--barLow-FFM);
    text-transform: uppercase;
    padding: 9px 20px;
    border: var(--border);
    background: #00755c;
    color: var(--tran-white);
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0);
}

.header {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  font-family: 'SpratCondensedMedium', serif;
}

.main-container{
  padding: 10px;
  margin: auto;
  width: 30%;
  min-width: 400px;
  height: 95vh;
}

footer {
  text-align: center;
  font-size: 14px;
}

.input-container {
    padding: 10px 0px;

}
#share-link {
  margin:auto 0px 10px;
}

.form-group{
    margin: auto;
    text-align: center;
    display: flex;
}
.form-group>input{
    flex:1;
}
.form-group>i{
    flex:1;
}

.card {
  position: relative;
  background: var(--tran-white);
  border-radius: 10px;
  border: var(--border);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 5px 0px 0px rgb(0 0 0);
  transition: 0.3s ease;
  font-weight: normal;
  margin-bottom: 8px;
}
.card-li,.card-li-g{
  padding: 5px 10px;
    list-style: none;
}

.card-li-g{
  background-color: #efefef;
}

#error-message{
    color:#f44336;
    text-align: center;
}

.note-text{
    font-size: 0.9rem;
    opacity: 0.5;
}

.row-container {
  display: flex;
}

.card-label,.card-label-small{
  opacity: 0.8;
  width: 50%;
}

.card-label-small{
  font-size: 0.8rem;
}

.load{
    text-align: center;
}

  .loading-line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--main-color);
  }

@keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
}

.load .loading-line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
.load .loading-line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
.load .loading-line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .main-container{
    width: 100%;
    min-width: auto;
  }
  .form-group{
    flex-direction: column;
  }
}