@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('http://fonts.cdnfonts.com/css/sinkin-sans-400-regular');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;500&display=swap');

@font-face {
  font-family: 'SpratCondensedMedium';
  src: url('/assets/fonts/sprat/Sprat-CondensedMedium.otf') format('opentype')
}

* {
    box-sizing: border-box;
    transition: ease 0.4s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #fffae9;
    color: #1f1f1f;
}
.brand {
text-decoration: none;
}
a, .redirect-link{
  color:#1f1f1f;
}
.redirect-link::after{
content: '\2197';
}

input{
  padding: 5px;
  font-family: 'Barlow', sans-serif;
  border: 2px solid #1f1f1f;
  background: transparent;
  color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px rgb(0 0 0);
}

button {
  /* font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  padding: 9px 20px;
  border: 1px solid;
  background: #1f1f1f;
  color: #fffae9;
  border-radius: 10px; */
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    padding: 9px 20px;
    border: 2px solid #1f1f1f;
    background: #00755c;
    color: #fffae9;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0);
}

.header {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  font-family: 'SpratCondensedMedium', serif;
}

.main-container{
  padding: 10px;
  margin: auto;
  width: 30%;
  min-width: 400px;
  height: 95vh;
}

footer {
  text-align: center;
  font-size: 14px;
}

.input-container {
    padding: 10px 0px;

}
#share-link {
  margin:auto 0px 10px;
}

.form-group{
    margin: auto;
    text-align: center;
    display: flex;
}
.form-group>input{
    flex:1;
}
.form-group>i{
    flex:1;
}

.card {
  position: relative;
  background: #ffffffd6;
  border-radius: 10px;
  border: 3px solid;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 5px 0px 0px rgb(0 0 0);
  transition: 0.3s ease;
  font-weight: normal;
  margin-bottom: 8px;
    /* position: relative;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: 0.3s ease;
    font-weight: normal;
    margin-bottom: 8px; */
}
.card-li,.card-li-g{
  padding: 5px 10px;
    list-style: none;
    text-transform: capitalize;
}

.card-li-g{
  background-color: #efefef;
}

#error-message{
    color:#f44336;
    text-align: center;
}

.note-text{
    font-size: 12px;
    opacity: 0.5;
}

.row-container {
  display: flex;
}

.card-label,.card-label-small{
  opacity: 0.8;
  width: 50%;
}

.card-label-small{
  font-size: 0.8rem;
}

.load{
    text-align: center;
}

  .loading-line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #1f1f1f;
  }

@keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
}

.load .loading-line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
.load .loading-line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
.load .loading-line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .main-container{
    width: 100%;
    min-width: auto;
  }
  .form-group{
    flex-direction: column;
  }
}